body {
  background-color: red;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  padding: 15px;
  margin: 0 auto;
}

