@import '~bootstrap/scss/bootstrap';

body{
    background-color: red;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    padding: 20px 0;
    min-height: calc(100vh - 120px);
}
